@font-face {
    font-family: 'Mobiliar Tisa';
    src: url('./TisaPro-Medi.eot') format('embedded-opentype'),
    url('./TisaPro-Medi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mobiliar Tisa';
    src: url("./TisaPro-Light.eot") format("embedded-opentype"),
    url('./TisaPro-Light.woff') format('woff');;
    font-weight: lighter;
    font-style: normal;
}